body {
  background-color: #636269;
  font-family: sans-serif
}

.clock-container {
  width: 100%;
  display: flex;
  place-content: center;
  position: relative;
  margin-top: 50px;
}

.black-square {
  width: 125px;
  aspect-ratio: 9 / 13;
  background-color: black;
  color: white;
  margin: 2px;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7vw;
}

.black-square > p{
  position: absolute;  
}

.fa-regular,
.fa-solid {
  font-size: 5vw;
}

.buttons-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.timer-setter-container{
  /* background-color: black; */
  color: white;
  width: 100%;
  display:grid;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  
}

.timer-setter{
  width: 40px;
}

#toggleOn{
  color: white;
  font-size: 18px;
}

#toggleTimer,
#reset{
  background: black;
  margin: 5px;
  color: white;
  font-size: 18px;
  
}
#toggleTimer:hover,
#toggleOn:hover,
#reset:hover{
  color: yellow;
}

form,
form > *{
  margin: 2px;
}

label{
  background-color: black;
}